#container {
    width: 1024px;
    font-size: 0px;
    font-family: "MSfont";
}
#content-container {
    width: 810px;
    height: 300px;
    display: inline-block;
    background-color: beige;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px;
}
#profile-image {
    width: 50px;
    float: left;
    margin: 0px 12px 0px 10px;
}
p {
    margin-left: 10px;
    line-height: 10px;
}
h3{
    margin-left: 10px;
}
#image-container{
    width: 205px;
    float: right;
}
#img2 {
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px;
}