@font-face {
    src: url("../assets/font/MSFont_TTF/Maplestory\ Light.ttf");
    font-family: "MSfont";
}

* {
    white-space: nowrap;
    font-family: "MSfont";
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    margin: 0;
    padding: 0;
}

.card {
    margin: 10px;
}